@model CarDealership.Application.Models.Dto.CarDto.CarAdminDto

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon1.ico" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/Admin/Admin_CreateTables.css" />
    <script src="/js/Admin/ValidateEditCar.js"></script>
    <title>Редактирование @Model.Name</title>
    <style>
        .info {
            text-align: center;
            margin-top: 20px;
        }
    </style>

</head>
<body>
    <div id="header">
        @await Html.PartialAsync("_AdmHeader")
    </div>
    <div id="main">
        @{
            var error = ViewData["Error"] as string;

            <div class="info">
                @if (!string.IsNullOrEmpty(error))
                {
                    var color = error == "Информация об автомобиле успешно обновлена" ? "green" : "red";
                    <p style="color: @color">@error</p>
                }
            </div>

        }
        <form id="editCarForm" action="/admin/editcar/@Model.Id" method="post" enctype="multipart/form-data">
            @Html.AntiForgeryToken()
            <input type="hidden" id="Id" name="Id" value="@Model.Id" />
            <div class="form-group">
                <label for="Image">Фото: (Только .jpeg/jpg)</label>
                <img style="width: 200px; height: 150px;"for="Image" src="@Model.MainUrlImage"/> <br />
                <input type="file" id="image" name="image" accept="image/jpeg">
            </div>
            <div class="form-group">
                <label for="Name">Название:</label>
                <input type="text" id="name" name="name" required value="@Model.Name">
                <span style="color:red" class="text-danger" id="nameError"></span>
            </div>
            <div class="form-group">
                <label for="Description">Описание:</label>
                <textarea id="description" name="description" rows="4" required>@Model.Description</textarea>
                <span style="color:red" class="text-danger" id="descriptionError"></span>
            </div>
            <div class="form-group">
                <label for="Year">Год выпуска:</label>
                <input type="number" id="year" name="year" required value="@Model.Year">
                <span style="color:red" class="text-danger" id="yearError"></span>
            </div>
            <div class="form-group">
                <label for="Power">Мощность:</label>
                <input type="number" id="power" name="power" required value="@Model.Power">
                <span style="color:red" class="text-danger" id="powerError"></span>
            </div>
            <div class="form-group">
                <label for="Price">Цена:</label>
                <input type="number" id="price" name="price" step="0.01" required value="@Model.Price">
            </div>
            <div class="form-group">
                <label for="Exists">В наличии:</label>
                <select id="Exists" name="Exists" required>
                    <option value="true">Да</option>
                    <option value="false">Нет</option>
                </select>
            </div>
            <button type="submit">Обновить информацию</button>
        </form>
    </div>
    <div id="footer"></div>
    <script>
    </script>
</body>
</html>

