@model CarDealership.Application.Models.ViewModels.AdminVm.AdminListVm

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon1.ico" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/Admin/Admin_ViewTables.css" />
    <script src="/js/Admin/DeleteUser.js"></script>
    <title>Пользователи</title>
    <style>
    </style>
</head>
<body>
    <header id="header">
        @await Html.PartialAsync("_AdmHeader")
    </header>
    <main id="main">
        <div class="container">
            <table>
                <thead>
                    <tr>
                        <th>Фото</th>
                        <th>Имя</th>
                        <th>Логин</th>
                        <th>Роль</th>
                        <th>Дата последний авторизации</th>
                        <th>Закрытых заявок</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model.Admins)
                    {
                        <tr>
                            <td>
                                <img src="@user.ImageUrl" alt="@user.FullName" width="100" height="60">
                            </td>
                            <td>@user.FullName</td>
                            <td>@user.Login</td>
                            <td>
                                @{
                                    var role = user.Role == "admin" ? "Директор" : "Менеджер";
                                }
                                @role
                            </td>
                            <td>@{
                                    var date = user.DateLastAuth is null ? "Авторизаций не было" : user.DateLastAuth.ToString();
                                }
                                @date
                            </td>
                            <td>@user.CountClosedOrders</td>
                            <td>
                                <a href="/admin/editadmin/@user.Id" class="btn btn-success btn-sm edit-bth">Edit</a>
                            </td>
                            <td>
                                <a class="btn btn-danger btn-sm delete-btn" data-user-id="@user.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </main>
    <footer id="footer">
    </footer>
    <script>
    </script>
</body>
</html>