@model CarDealership.Application.Models.ViewModels.CarVm.CarDetailsVm
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon1.ico" />
    <link rel="stylesheet" href="/css/Client/Client_Main.css">
    <link rel="stylesheet" href="/css/Client/Client_CarDetails.css">
    <script src="/js/Client/slide.js" defer></script>
    <script src="/js/Client/SendOrder.js" defer></script>
    <title>@Model.Car.Name</title>
</head>
<body>
    <header id="header">
        @await Html.PartialAsync("_Header")
    </header>
    <main id="main">
        <div style="display: flex; flex-direction: column; align-items: center; margin-bottom: 50px; color: white;">

            <h1 style="margin-top: 30px; font-size: 48px; font-weight: 300;">@Model.Car.Name</h1>

            <div class="slider-container">
                <div class="car-images-slider">
                    <div class="slide active">
                        <img src="@Model.Car.MainUrlImage" />
                    </div>
                    @foreach (var url in Model.UrlImages.Select(x => x.Url))
                    {
                        <div class="slide">
                            <img src="@url" />
                        </div>
                    }
                </div>
                <button class="slider-btn prev-btn"><i class="fas fa-chevron-left"></i></button>
                <button class="slider-btn next-btn"><i class="fas fa-chevron-right"></i></button>
            </div>

            <div style="flex-direction: column;">
                <p class="car-description">@Model.Car.Description</p>
                <div style="align-items: center;">
                    <p class="car-price">@Model.Car.Price.ToString("N0") ₽</p>
                </div>
            </div>

            <div class="btn-order-container">
                <button class="btn-order" type="submit">Оставить заявку</button>
            </div>
                
            <div id="overlay">
                <div id="contact-form">
                    <form id="createOrderForm" enctype="multipart/form-data">
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <label for="name">Имя</label>
                            <input type="text" id="name" name="Name" required>
                            <span class="error-message" id="name-error"></span>
                        </div>
                        <div class="form-group">
                            <label for="phone">Номер телефона</label>
                            <input type="text" id="phoneNumber" name="PhoneNumber" required>
                            <span class="error-message" id="phone-error"></span>
                        </div>
                        <div class="form-group">
                            <label for="message">Сообщение</label>
                            <textarea type="text" id="message" name="Message" required></textarea>
                            <span class="error-message" id="message-error"></span>
                        </div>
                        <textarea type="text" id="Referrer" name="Referrer" hidden>@Model.Car.Name</textarea>
                        <button type="submit">Отправить</button>
                    </form>
                </div>
            </div>
        </div>
    </main>
<footer id="footer">
    @await Html.PartialAsync("_Footer")
</footer>
</body>
</html>
