@model CarDealership.Application.Models.ViewModels.CarVm.CarListVm
@{
    const int rowSize = 3;
    var parts = Model.Cars.Select((x, i) => new { Index = i, Value = x })
                     .GroupBy(x => x.Index / rowSize)
                     .Select(g => g.Select(x => x.Value).ToList())
                     .ToList();
}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/Client/Client_Main.css">
    <link rel="stylesheet" href="/css/Client/Client_Header.css">
    <link rel="stylesheet" href="/css/Client/Client_Footer.css">
    <title>Автосалон</title>
</head>

<body>
    <div id="header">
        @await Html.PartialAsync("_Header")
    </div>

    <div id="main">
        <div class="main-title">
            Наши автомобили
        </div>

        <div class="cars-container">
            @foreach (var part in parts)
            {
                <div style="display: flex; flex-wrap: wrap; justify-content: center;">
                    @foreach (var car in part)
                    {
                        
                        <a href="/cars/getcar/@car.Id" style="width: 350px; height: 425px; border-radius: 10px; border: 1px solid white; margin: 10px; display: flex; flex-direction: column; align-items: center; justify-content: center; padding: 10px; box-sizing: border-box; font-family: 'Inter', sans-serif; text-decoration: none; color: white; overflow: hidden; margin: 50px 50px;">
                            <img src="@car.MainUrlImage" style="width: 325px; height: 230px; object-fit: cover; border-radius: 10px; margin-bottom: 10px;" />
                            <h2 class="car-name" style="margin-top: 0; text-align: center; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; width: 100%;">@car.Name</h2>
                            <p style="margin-top: 0; margin-bottom: 10px;">@car.Year</p>
                            <p style="margin-top: 10px;">@car.Power л.с</p>
                            <p style="margin-top: 7px;">@car.Price.ToString("N0") ₽</p>
                        </a>
                    }
                </div>
            }
        </div>
    </div>
    <div id="footer">
        @await Html.PartialAsync("_Footer")
    </div>

    <script>
    </script>
    </body>
</html>