@model Dealership.Models.DbModels.CarModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/Client_Css/Client_Main.css">
    <link rel="stylesheet" href="/css/Client_Css/Client_Header.css">
    <link rel="stylesheet" href="/css/Client_Css/Client_Footer.css">
    <link rel="stylesheet" href="/css/Client_Css/Client_CarDetails.css">
    <script src="/js/Client/SendOrder.js" defer></script>
    <title>@Html.Display("Name")</title>
</head>
<body>
    <header id="header">
        @await Html.PartialAsync("_Header")
    </header>
    <main id="main">
        <div style="display: flex; flex-direction: column; align-items: center; margin-bottom: 50px; color: white;">

            <h1 style="margin-top: 30px; font-size: 48px; font-weight: 300;">@Model.Name</h1>

            <div style="width: 1119px; height: 600px; overflow: hidden;">

                <img src="@Model.ImageUrl" style="width: 100%; height: 100%; object-fit: cover;" />

            </div>

            <div style="flex-direction: column;">

                <p style="text-align: center; margin-top: 70px; margin-bottom: 20px; margin-left: 50px; margin-right: 50px; font-size: 24px; font-weight: 200; line-height: 35px;">@Model.Description</p>

                <div style="align-items: center;">

                    <p style="margin-top: 90px; text-align: center; font-size: 36px; font-weight: 100;">@Model.Price.ToString("N0") ₽</p>

                </div>     
                
                <button class="btn-order" type="submit">Оставить заявку</button>
                
                <div id="overlay">
                    <div id="contact-form">
                        <form id="createOrderForm" action="/api/createorder" method="put" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="name">Имя</label>
                                <input type="text" id="name" name="Name" required>
                                <span class="error-message" id="name-error"></span>
                            </div>
                            <div class="form-group">
                                <label for="phone">Номер телефона</label>
                                <input type="text" id="phoneNumber" name="PhoneNumber" required>
                                <span class="error-message" id="phone-error"></span>
                            </div>
                            <div class="form-group">
                                <label for="message">Сообщение</label>
                                <textarea type="text" id="message" name="Message" required></textarea>
                                <span class="error-message" id="message-error"></span>
                            </div>
                            <button type="submit">Отправить</button>
                        </form>
                    </div>
                </div>

            </div>

        </div>
    </main>
    <footer id="footer">
        @await Html.PartialAsync("_Footer")
    </footer>
    <script>
    </script>
</body>
</html>
